21 July 2019
Mapping the number of papers that could be added to UniProt.

Example 1 - human nucleoporins. 

The list was compiled as part of the preparation for Biocuration 2019 and it is mix of analysis from the literature and blast searches.

The code allows to retrieve information from UniProtKB in tabular form and compared it with information in PubTator. This allows to identify publications with mentions of the gene of interest.

In [0]:
list =['Pom152','Pom34','Ndc1nNup192','Nup188','Nup170','Nup157','Nup53','Nup59','Nup133','Nup120','Nup145C','Nup85','Nup84','Seh1','Sec13','Nic96','Nup57','Nup49','Nsp1','Nup82','Nup159','Dyn2','Gle1','Nup42','Gle2','Nup116','Nup100','Nup145N','Nup60','Nup1','Mlp1','MIp2']

In [0]:
list[1]

'Pom34'

In [0]:
import requests, sys
for element in list:
    #print(element)
    url = 'https://www.uniprot.org/uniprot/?query=gene%3A' + element + '+taxonomy%3A%22Saccharomyces+cerevisiae+%28strain+ATCC+204508+%2F+S288c%29+%28Baker%27s+yeast%29+%5B559292%5D%22+reviewed%3Ayes&sort=score&fil=&format=tab&columns=id,database(GeneID),citation,citationmapping'    
    r = requests.get(url) 
        #name = print(gene + '_retrieved.tab')
    with open('retrieved_yeast.tab', 'a') as outfile:
        outfile.write(r.text)

In [0]:
import pandas as pd

df = pd.read_csv('retrieved_yeast.tab', 
                    sep='\t',
                    header=None,
                    names=['id', 'geneid', 'pmid', 'sp_pmid'],
                    converters={'geneid': lambda x: x.strip(';'), 'pmid': lambda x: x.split('; '), 'sp_pmid': lambda x: x.split('; ')})
df.head()

,id,geneid,pmid,sp_pmid
0,Entry,Cross-reference (GeneID),[PubMed ID],[Mapped PubMed ID]
1,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,..."
2,Entry,Cross-reference (GeneID),[PubMed ID],[Mapped PubMed ID]
3,Q12445,850705,"[9169871, 24374639, 17322287, 10684247, 127912...","[9169871, 24374639, 17322287, 10684247, 127912..."
4,Entry,Cross-reference (GeneID),[PubMed ID],[Mapped PubMed ID]

In [0]:
#a = df.iloc[1::2]
a = df[~df['id'].isin(['Entry'])]
a.head()

,id,geneid,pmid,sp_pmid
1,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,..."
3,Q12445,850705,"[9169871, 24374639, 17322287, 10684247, 127912...","[9169871, 24374639, 17322287, 10684247, 127912..."
5,P52593,854868,"[8682854, 8682855, 9169872, 24374639, 8522578,...","[8682854, 8682855, 9169872, 24374639, 8522578,..."
7,P38181,852199,"[7502586, 7813418, 24374639, 8522578, 9864357,...","[7502586, 7813418, 24374639, 8522578, 9864357,..."
9,P40064,856842,"[9169868, 24374639, 8522578, 10684247, 1247368...","[9169868, 24374639, 8522578, 10684247, 1247368..."

In [0]:
a.tail

<bound method NDFrame.tail of         id  geneid                                               pmid  \
1   P39685  855159  [8138573, 9169872, 24374639, 8682855, 9988776,...
3   Q12445  850705  [9169871, 24374639, 17322287, 10684247, 127912...
5   P52593  854868  [8682854, 8682855, 9169872, 24374639, 8522578,...
7   P38181  852199  [7502586, 7813418, 24374639, 8522578, 9864357,...
9   P40064  856842  [9169868, 24374639, 8522578, 10684247, 1247368...
11  Q03790  855184  [9169872, 24374639, 9864357, 10684247, 1135293...
13  Q05166  851470  [7862092, 8923743, 9169867, 24374639, 17322287...
15  P36161  853957  [7813444, 8203164, 8196765, 24374639, 7862658,...
17  P35729  853808  [8091862, 8196765, 24374639, 8557736, 8557737,...
19  P46673  853499  [8816998, 8565072, 7668047, 8641269, 24374639,...
21  P52891  851441  [8565072, 9169867, 24374639, 10684247, 1182343...
23  P53011  852778  [8565072, 9169869, 24374639, 17322287, 1068424...
25  Q04491  850905  [8432727, 9169871, 24374639, 8565072, 6996832,...
27  P34077  850552  [7688296, 7670463, 24374639, 8789262, 8522578,...
29  P48837  853016  [7828598, 9169869, 24374639, 17322287, 9046098...
31  Q02199  852703  [1464327, 1385442, 8619317, 9169869, 24374639,...
33  P14907  853409  [3072197, 8641269, 24374639, 2112428, 9017593,...
34  P14306  850875  [2693892, 1745232, 9169871, 24374639, 9521655,...
36  P40368  853385  [7559751, 7559750, 8641269, 24374639, 7762302,...
38  P40477  854691  [7744966, 9169870, 24374639, 9736720, 9843582,...
40  Q02647  852034             [8628245, 9169867, 24374639, 14562106]
42  Q12315  851320  [8848052, 9046097, 9169867, 24374639, 10610322...
44  P49686  851774  [7634338, 9169867, 24374639, 17322287, 1061032...
46  P40066  856844  [9169868, 24374639, 17322287, 8970155, 9463388...
48  Q02630  855066  [1385442, 1464327, 9169872, 24374639, 8044840,...
50  Q02629  853796  [1385442, 8091863, 8196765, 24374639, 8044840,...
52  P39705  851263  [7941740, 7731988, 24374639, 17322287, 1068424...
54  P20676  854265  [2190694, 9200815, 9169874, 24374639, 10525531...
56  Q02455  853970  [8483450, 8154186, 8196765, 24374639, 10085285...
57  P36005  853696  [8091859, 8196765, 24374639, 9111331, 11062466...

                                              sp_pmid
1   [8138573, 9169872, 24374639, 8682855, 9988776,...
3   [9169871, 24374639, 17322287, 10684247, 127912...
5   [8682854, 8682855, 9169872, 24374639, 8522578,...
7   [7502586, 7813418, 24374639, 8522578, 9864357,...
9   [9169868, 24374639, 8522578, 10684247, 1247368...
11  [9169872, 24374639, 9864357, 10684247, 1135293...
13  [7862092, 8923743, 9169867, 24374639, 17322287...
15  [7813444, 8203164, 8196765, 24374639, 7862658,...
17  [8091862, 8196765, 24374639, 8557736, 8557737,...
19  [8816998, 8565072, 7668047, 8641269, 24374639,...
21  [8565072, 9169867, 24374639, 10684247, 1182343...
23  [8565072, 9169869, 24374639, 17322287, 1068424...
25  [8432727, 9169871, 24374639, 8565072, 6996832,...
27  [7688296, 7670463, 24374639, 8789262, 8522578,...
29  [7828598, 9169869, 24374639, 17322287, 9046098...
31  [1464327, 1385442, 8619317, 9169869, 24374639,...
33  [3072197, 8641269, 24374639, 2112428, 9017593,...
34  [2693892, 1745232, 9169871, 24374639, 9521655,...
36  [7559751, 7559750, 8641269, 24374639, 7762302,...
38  [7744966, 9169870, 24374639, 9736720, 9843582,...
40  [8628245, 9169867, 24374639, 14562106, 1108203...
42  [8848052, 9046097, 9169867, 24374639, 10610322...
44  [7634338, 9169867, 24374639, 17322287, 1061032...
46  [9169868, 24374639, 17322287, 8970155, 9463388...
48  [1385442, 1464327, 9169872, 24374639, 8044840,...
50  [1385442, 8091863, 8196765, 24374639, 8044840,...
52  [7941740, 7731988, 24374639, 17322287, 1068424...
54  [2190694, 9200815, 9169874, 24374639, 10525531...
56  [8483450, 8154186, 8196765, 24374639, 10085285...
57  [8091859, 8196765, 24374639, 9111331, 11062466...  >

In [0]:
import pandas as pd
pubtator = pd.read_csv('gene2pubtator',
                        sep='\t',
                        header=0,
                        names=['pubtator_pmid', 'geneid', 'mentions', 'source'],
                        usecols=['pubtator_pmid', 'geneid', 'mentions'],
                        dtype=str)

pubtator.head()

  pubtator_pmid geneid                 mentions
0       1000011   7356  blastokinin|uteroglobin
1       1000045   2006             tropoelastin
2       1000084   7018              transferrin
3       1000327   4199     malate dehydrogenase
4      10021369  10297                     APC2

In [0]:
count = pubtator['geneid'].str.contains('8655', na=False).sum()

In [0]:
count

1638

In [0]:
merged = a.merge(pubtator, on='geneid')

In [0]:
merged.head()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions
0,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",16118201,Pom152p|pom152
1,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",16682526,Pom152p
2,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",26510791,POM152|Pom152
3,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",28162953,Pom152
4,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",7559775,POM152

In [0]:
merged.tail()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions
608,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",24554767,Kdx1p
609,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",16973600,YKL161c
610,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",22621902,KDX1
611,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",25449759,KDX1
612,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",26845706,KDX1

In [0]:
new_refs = merged[merged.apply(lambda x: x.pubtator_pmid not in x.pmid, axis=1)].reset_index(drop=True)
new_refs.head()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions
0,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",16118201,Pom152p|pom152
1,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",16682526,Pom152p
2,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",26510791,POM152|Pom152
3,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",28162953,Pom152
4,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",7559775,POM152

In [0]:
new_refs['len_pmid'] = new_refs['pmid'].str.len()
new_refs['len_spmid'] = new_refs['sp_pmid'].str.len()

In [0]:
new_refs['len_pubtator'] = new_refs.groupby('geneid')['id'].transform('count')

In [0]:
new_refs.head()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions,len_pmid,len_spmid,len_pubtator
0,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",16118201,Pom152p|pom152,15,63,9
1,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",16682526,Pom152p,15,63,9
2,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",26510791,POM152|Pom152,15,63,9
3,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",28162953,Pom152,15,63,9
4,P39685,855159,"[8138573, 9169872, 24374639, 8682855, 9988776,...","[8138573, 9169872, 24374639, 8682855, 9988776,...",7559775,POM152,15,63,9

In [0]:
new_refs.tail()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions,len_pmid,len_spmid,len_pubtator
481,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",24554767,Kdx1p,7,21,6
482,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",16973600,YKL161c,7,21,6
483,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",22621902,KDX1,7,21,6
484,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",25449759,KDX1,7,21,6
485,P36005,853696,"[8091859, 8196765, 24374639, 9111331, 11062466...","[8091859, 8196765, 24374639, 9111331, 11062466...",26845706,KDX1,7,21,6

In [0]:
new_refs.to_csv('yeast.tsv', sep='\t', index=False)