21 July 2019
Mapping the number of papers that could be added to UniProt.

Example 1 - human nucleoporins. 

The list was compiled as part of the preparation for Biocuration 2019 and it is mix of analysis from the literature and blast searches.

In [0]:
list =['DYNLL1','NPAP1','NUP153','POM121','POM121B','POM121C','POM121L12','POM121L2','POM121','POM121B','POM121C','POM121L12','POM121L','NDC1','NUP205','NUP188','NUP155','NUP35','NUP133','NUP160?','NUP98','NUP85','NUP107','SEH1L','SEC13','NUP93','NUP54','NUP62','NUP88?','DYNLL2','GLE1','RAE1']

In [0]:
list[1]

'NPAP1'

In [0]:
import requests, sys
for element in list:
    #print(element)
    url = 'https://www.uniprot.org/uniprot/?query=gene%3A' + element + '+taxonomy%3A%22Homo+sapiens+%28Human%29+%5B9606%5D%22+reviewed%3Ayes&sort=score&fil=&format=tab&columns=id,database(GeneID),citation,citationmapping'    
    r = requests.get(url) 
        #name = print(gene + '_retrieved.tab')
    with open('retrieved_human.tab', 'a') as outfile:
        outfile.write(r.text)

In [0]:
import pandas as pd

df = pd.read_csv('retrieved_human.tab', 
                    sep='\t',
                    header=None,
                    names=['id', 'geneid', 'pmid', 'sp_pmid'],
                    converters={'geneid': lambda x: x.strip(';'), 'pmid': lambda x: x.split('; '), 'sp_pmid': lambda x: x.split('; ')})
df.head()

,id,geneid,pmid,sp_pmid
0,Entry,Cross-reference (GeneID),[PubMed ID],[Mapped PubMed ID]
1,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932..."
2,Entry,Cross-reference (GeneID),[PubMed ID],[Mapped PubMed ID]
3,Q9NZP6,23742,"[10783265, 16572171, 16959974, 17337158, 20020...","[10783265, 16572171, 16959974, 17337158, 20020..."
4,Entry,Cross-reference (GeneID),[PubMed ID],[Mapped PubMed ID]

In [0]:
#a = df.iloc[1::2]
a = a[~a['id'].isin(['Entry'])]
a.head()

,id,geneid,pmid,sp_pmid
1,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932..."
3,Q9NZP6,23742,"[10783265, 16572171, 16959974, 17337158, 20020...","[10783265, 16572171, 16959974, 17337158, 20020..."
5,P49790,9972,"[8110839, 14702039, 14574404, 15489334, 117779...","[8110839, 14702039, 14574404, 15489334, 117779..."
7,Q96HA1,9883,"[9734811, 14702039, 12853948, 15489334, 179005...","[9734811, 14702039, 12853948, 15489334, 179005..."
9,Q96KW2,94026,[14574404],"[14574404, 19571809]"

In [0]:
a.tail

<bound method NDFrame.tail of         id  geneid                                               pmid  \
1   P63167    8655  [8628263, 10198631, 12857789, 14654843, 151932...
3   Q9NZP6   23742  [10783265, 16572171, 16959974, 17337158, 20020...
5   P49790    9972  [8110839, 14702039, 14574404, 15489334, 117779...
7   Q96HA1    9883  [9734811, 14702039, 12853948, 15489334, 179005...
9   Q96KW2   94026                                         [14574404]
11  Q8N7R1  285877                     [14702039, 12853948, 17974005]
23  A8CG34          [12853948, 15489334, 17900573, 17081983, 18669...
25  A6NF01                                                 [12853948]
27  Q3SYA9                                       [10591208, 15489334]
29  A6NF01                                                 [12853948]
31  A8CG34          [12853948, 15489334, 17900573, 17081983, 18669...
33  Q8N7R1  285877                     [14702039, 12853948, 17974005]
35  Q96KW2   94026                                         [14574404]
37  Q3SYA9                                       [10591208, 15489334]
39  Q9BTX1   55706  [16702233, 14702039, 16710414, 15489334, 12958...
41  Q92621   23165  [9039502, 12853948, 15489334, 9348540, 1280206...
43  Q5SRE5   23511  [17974005, 15164053, 8724849, 15489334, 110290...
45  O75694    9631  [10191094, 12034489, 9872452, 15489334, 179740...
47  Q8NFH5  129401  [12196509, 14702039, 15815621, 15489334, 15703...
49  Q8WUM0   55746  [14702039, 16710414, 15489334, 11564755, 11684...
51  P52948    4928  [8563754, 10087256, 16554811, 15489334, 179740...
53  Q9BW27   79902  [12196509, 15995708, 14702039, 17974005, 16625...
55  P57740   57122  [14702039, 16541075, 15489334, 11564755, 11684...
57  Q96EE3   81929  [12196509, 14702039, 15489334, 15146057, 17363...
59  P55735    6396  [7987303, 9110174, 14702039, 16641997, 1548933...
67  Q9H1M0   54830                     [14702039, 15772651, 15489334]
69  Q96FJ2  140735  [14702039, 15489334, 19380881, 21269460, 24275...
71  Q53GS7    2733  [9618489, 15164053, 15489334, 17974005, 126686...
73  P78406    8480  [9370289, 9256445, 14702039, 11780052, 1548933...

                                              sp_pmid
1   [8628263, 10198631, 12857789, 14654843, 151932...
3   [10783265, 16572171, 16959974, 17337158, 20020...
5   [8110839, 14702039, 14574404, 15489334, 117779...
7   [9734811, 14702039, 12853948, 15489334, 179005...
9                                [14574404, 19571809]
11                                                 []
23  [12853948, 15489334, 17900573, 17081983, 18669...
25                                                 []
27                     [10591208, 15489334, 25416956]
29                                                 []
31  [12853948, 15489334, 17900573, 17081983, 18669...
33                                                 []
35                               [14574404, 19571809]
37                     [10591208, 15489334, 25416956]
39  [16702233, 14702039, 16710414, 15489334, 12958...
41  [9039502, 12853948, 15489334, 9348540, 1280206...
43  [17974005, 15164053, 8724849, 15489334, 110290...
45  [10191094, 12034489, 9872452, 15489334, 179740...
47  [12196509, 14702039, 15815621, 15489334, 15703...
49  [14702039, 16710414, 15489334, 11564755, 11684...
51  [8563754, 10087256, 16554811, 15489334, 179740...
53  [12196509, 15995708, 14702039, 17974005, 16625...
55  [14702039, 16541075, 15489334, 11564755, 11684...
57  [12196509, 14702039, 15489334, 15146057, 17363...
59  [7987303, 9110174, 14702039, 16641997, 1548933...
67  [14702039, 15772651, 15489334, 16189514, 25416...
69                                                 []
71  [9618489, 15164053, 15489334, 17974005, 126686...
73  [9370289, 9256445, 14702039, 11780052, 1548933...  >

In [0]:
import pandas as pd
pubtator = pd.read_csv('gene2pubtator',
                        sep='\t',
                        header=0,
                        names=['pubtator_pmid', 'geneid', 'mentions', 'source'],
                        usecols=['pubtator_pmid', 'geneid', 'mentions'],
                        dtype=str)

pubtator.head()

  pubtator_pmid geneid                 mentions
0       1000011   7356  blastokinin|uteroglobin
1       1000045   2006             tropoelastin
2       1000084   7018              transferrin
3       1000327   4199     malate dehydrogenase
4      10021369  10297                     APC2

In [0]:
count = pubtator['geneid'].str.contains('8655', na=False).sum()

In [0]:
count

1638

In [0]:
merged =a.merge(pubtator, on='geneid')

In [0]:
merged.head()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions
0,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",10198631,LC8
1,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11024152,LC8
2,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11148209,DLC8
3,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11513870,LC8
4,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11746667,LC8|LC8a

In [0]:
merged.tail()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions
2089,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",28815225,Rae-1
2090,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",28867566,RAE1
2091,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",29385718,RAE1
2092,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",29757143,RAE-1
2093,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",3082070,RAE-1

In [0]:
new_refs = merged[merged.apply(lambda x: x.pubtator_pmid not in x.pmid, axis=1)].reset_index(drop=True)
new_refs.head()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions
0,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11024152,LC8
1,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11148209,DLC8
2,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11513870,LC8
3,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11746667,LC8|LC8a
4,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11978406,Protein inhibitor of neuronal nitric oxide syn...

In [0]:
new_refs['len_pmid'] = new_refs['pmid'].str.len()
new_refs['len_spmid'] = new_refs['sp_pmid'].str.len()

In [0]:
new_refs['len_pubtator'] = new_refs.groupby('geneid')['id'].transform('count')

In [0]:
new_refs.head()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions,len_pmid,len_spmid,len_pubtator
0,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11024152,LC8,21,248,982
1,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11148209,DLC8,21,248,982
2,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11513870,LC8,21,248,982
3,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11746667,LC8|LC8a,21,248,982
4,P63167,8655,"[8628263, 10198631, 12857789, 14654843, 151932...","[8628263, 10198631, 12857789, 14654843, 151932...",11978406,Protein inhibitor of neuronal nitric oxide syn...,21,248,982

In [0]:
new_refs.tail()

,id,geneid,pmid,sp_pmid,pubtator_pmid,mentions,len_pmid,len_spmid,len_pubtator
2013,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",28815225,Rae-1,11,139,77
2014,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",28867566,RAE1,11,139,77
2015,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",29385718,RAE1,11,139,77
2016,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",29757143,RAE-1,11,139,77
2017,P78406,8480,"[9370289, 9256445, 14702039, 11780052, 1548933...","[9370289, 9256445, 14702039, 11780052, 1548933...",3082070,RAE-1,11,139,77

In [0]:
new_refs.to_csv('list_human.tsv', sep='\t', index=False)